@import"../../../assets/styles/variables.scss";

.mat-toolbar{
background-color: crimson;
}
img:hover{
    cursor: pointer;
}
.titulo{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
   color: yellow;
   margin-left: 550px;
}

